@{
    this.ViewBag.Title = "Luke Vo - Love, Hope & Faith";
    this.ViewBag.BodyClass = "home";
}

@section Meta {
    <meta property="og:image" content="@this.Url.Content("~/Images/homepage_screenshot.png", true)" />
}

@section Styles {
    <link rel="stylesheet" href="~/Content/Pages/home.min.css" />
}

<h1 class="slogan text-shadow text-shadow-white">
    Love, Faith and Hope
</h1>
