
@{
    this.ViewBag.Title = "Statement Of Faith";
    this.ViewBag.BodyClass = "content-fullpage sof";
}

@section Styles {

    <link rel="stylesheet" href="~/Content/fullpage/jquery.fullpage.min.css" />
    <link rel="stylesheet" href="~/Content/Pages/content-fullpage.min.css" />
    <link rel="stylesheet" href="~/Content/Pages/sof.css" />

    <style>
        #section-god {
            background-image: url(/Images/background_god.jpg);
        }

        #section-jesus {
            background-image: url(/Images/background_jesus.jpg);
        }

        #section-holy-spirit {
            background-image: url(/Images/background_holyspirit.jpg);
        }

        #section-trinity {
            background-image: url(/Images/background_trinity.jpg);
        }

        #section-bible {
            background-image: url(/Images/background_bible.jpg);
        }

        #section-salvation {
            background-image: url(/Images/background_salvation.jpg);
        }
    </style>

}

<div class="toc">
    <div class="container">
        <ul class="toc-list">
            <li class="active">
                <a href="#anchor-title">
                    Introduction
                </a>
            </li>
            <li>
                <a href="#anchor-god">
                    God
                </a>
            </li>
            <li>
                <a href="#anchor-jesus">
                    Jesus Christ
                </a>
            </li>
            <li>
                <a href="#anchor-holy-spirit">
                    Holy Spirit
                </a>
            </li>
            <li>
                <a href="#anchor-trinity">
                    Trinity
                </a>
            </li>
            <li>
                <a href="#anchor-bible">
                    The Bible
                </a>
            </li>
            <li>
                <a href="#anchor-salvation">
                    Salvation
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="page-content">

    <div id="section-title" data-anchor="anchor-title" class="section active">
        <div class="container">
            <div class="section-content">
                <h1 class="title">
                    Statement of Faith
                </h1>
                I am a <a target="_blank" href="https://www.gotquestions.org/non-denominational-church.html">non-denominational Christian</a>. My <em>Statement of Faith</em> (SoF) is heavily influenced by the SoFs of
                <a target="_blank" href="https://www.gotquestions.org/faith.html">GotQuestions.org</a>
                and
                <a target="_blank" href="https://www.carm.org/statement-faith">Christian Apologetics &amp; Research Ministry (CARM)</a>.
            </div>
        </div>
    </div>

    <div id="section-god" data-anchor="anchor-god" class="section">
        <div class="container">
            <div class="section-content">
                <h2>God</h2>
                <p>
                    <ul class="cross">
                        <li>
                            God is the only Supreme Being with no gods created before or after Him in all of existence, in all places, in all time (Isaiah 43:10; 44:6; 44:8; 1 Tim. 1:17).
                        </li>
                        <li>
                            He has always been God and was never anything else (Psalm 90:2).
                        </li>
                        <li>
                            He is Holy (Rev. 4:8), Eternal (Isaiah 57:15), Omnipotent (Jer. 32:17, 27), Omnipresent (Psalm 139:7), Omniscient (1 John 3:20).
                        </li>
                        <li>
                            He is to be worshiped (Gen. 24:26; Ex. 4:31; 2 Chron. 29:28; 1 Cor. 14:25; Rev. 7:11).
                        </li>
                        <li>
                            He is to be served (Matt. 4:10; 1 Cor. 6:19; Phil. 3:7; 1 Thess. 1:9; Heb. 9:14).
                        </li>
                        <li>
                            He is to be proclaimed (Matt. 28:19f.; John 14:15f.; Acts 1:8).
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div id="section-jesus" data-anchor="anchor-jesus" class="section">
        <div class="container">
            <div class="section-content">
                <h2>Jesus Christ</h2>
                <p>
                    <ul class="cross">
                        <li>
                            Jesus Christ is the Word (God) who became a man - God in human form, the expressed image of the Father, who, without ceasing to be God (Colossians 1:15).
                        </li>
                        <li>
                            He is presently a man, one person, with two natures where one nature is wholly God and the other wholly man. (Phil. 2:5-11; Col. 2:9; 1 Tim. 3:16; Heb. 1:5-13; John 1:1-3, 14).
                        </li>
                        <li>
                            Lord Jesus Christ ascended to Heaven in His glorified body (Acts 1:9-10) and is now seated at the right hand of God as our High Priest and Advocate (Romans 8:34; Hebrews 7:25).
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div id="section-holy-spirit" data-anchor="anchor-holy-spirit" class="section">
        <div class="container">
            <div class="section-content">
                <h2>The Holy Spirit</h2>
                <p>
                    <ul class="cross">
                        <li>
                            The Holy Spirit has deity and personality (Acts 5:3-4).
                        </li>
                        <li>
                            He regenerates sinners (Titus 3:5) and indwells believers (Romans 8:9). He is the agent by whom Christ baptizes all believers into His body (1 Corinthians 12:12-14).
                        </li>
                        <li>
                            He is the Divine Teacher who illumines believers' hearts and minds as they study the Word of God (1 Corinthians 2:9-12).
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div id="section-trinity" data-anchor="anchor-trinity" class="section">
        <div class="container">
            <div class="section-content">
                <h2>Trinity</h2>
                <p>
                    <ul class="cross">
                        <li>
                            There is one God in whom are three eternal, distinct, simultaneous persons—the Father, the Son (Jesus Christ), and the Holy Spirit.
                        </li>
                        <li>
                            All three are the one God, coeternal, coequal, etc., yet there is only one God—not three gods—and not one person who took three modes, offices, or forms.
                            (Isaiah 44:6, 8; 45:5; Gen. 1:26-27; 3:22; Matt. 3:17; 28:19; Luke 9:35; 2 Cor. 13:14)
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div id="section-bible" data-anchor="anchor-bible" class="section">
        <div class="container">
            <div class="section-content">
                <h2>The Bible</h2>
                <p>
                    <ul class="cross">
                        <li>
                            The Bible, comprised of the Old and New Testaments, is inspired, infallible, and authoritative Word of God (Matthew 5:18; 2 Timothy 3:16-17).
                        </li>
                        <li>
                            In faith, the Bible is inerrant in the original writings, God-breathed, and the complete and final authority for faith and practice (2 Timothy 3:16-17).
                        </li>
                        <li>
                            While still using the individual writing styles of the human authors, the Holy Spirit perfectly guided them to ensure they wrote precisely what God wanted written, without error or omission (2 Peter 1:21).
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

    <div id="section-salvation" data-anchor="anchor-salvation" class="section">
        <div class="container">
            <div class="section-content">
                <h2>Salvation</h2>
                <p>
                    <ul class="cross">
                        <li>
                            Salvation is a gift of God's grace through faith in the finished work of Jesus Christ on the cross (Ephesians 2:8-9).
                        </li>
                        <li>
                            Salvation is being saved from the righteous judgment of God upon the sinner.
                        </li>
                        <li>
                            Salvation is obtained by grace alone, through faith alone, in the work of Christ alone (John 3:16) and not by our good works (Rom. 3:20; Eph. 2:8-9).
                        </li>
                        <li>
                            We are chosen for salvation by God (2 Thess. 2:13).
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <script src="~/Content/fullpage/jquery.fullpage.min.js"></script>

    <script>

        function onLeave(index, nextIndex, direction) {
            // Remove all active
            $(".toc-list > li").removeClass("active");

            // Active
            $($(".toc-list li")[nextIndex - 1]).addClass("active");
        }

        $(function () {
            $(".page-content").fullpage({
                onLeave: onLeave,
            });
        });

    </script>
}
