body.content-fullpage {

    header.header {
        position: fixed;
        z-index: 3;
    }

    .section {
        background-size: cover;
        background-position: center center;
    }

    .section-content {
        background: rgba(255,255,255,0.7);
        padding: 30px;
    }
}
