@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Segoe UI', 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background: url(/Images/home_background.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

a, a:hover, a:active, a:visited {
    color: inherit;
    text-decoration: underline;
}

.text-shadow {
    text-shadow: 0 0 20px #424242;
}

    .text-shadow.text-shadow-white {
        text-shadow: 0 0 20px white;
    }

ul.cross {
    list-style: none;
    padding-left: 5px;
}

    ul.cross > li:before {
        content: "✝";
        margin-right: 10px;
        display: inline-block;
    }

header.header {
    padding: 30px 30px;
    text-align: left;
    width: 100%;
    background: rgba(255, 255, 255, 0.30);
    color: black;
    margin-bottom: 40px;
    border-bottom: 1px solid #dedede;
    max-width: 100%;
}

    header.header > * {
        vertical-align: middle;
    }

    header.header h1 {
        display: inline-block;
        margin: 0;
        margin-right: 30px;
    }

    header.header a {
        color: inherit !important;
        text-decoration: none;
    }

@media only screen and (max-device-width: 799px), only screen and (max-device-height : 599px) {
    header.header {
        padding: 2px;
        font-size: .8em;
    }
}
